@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
  --main-color: #3f6f21;
  --section-back-color : rgb(216, 233, 216);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background: var(--section-back-color);
  padding: 1px 0;
}

.App .App_title {
  text-align: center;
  margin: 40px auto;
  color: var(--main-color);
  text-transform: uppercase;
}

.App .App_title h1{
  font-size: 35px;
  margin: 0;
  padding:0;
}

.underline {
  height: 4px;
  width: 50px;
  margin: 5px auto;
  background: white;
}

.App .actions {
  margin: 10px 40px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
}

.App .actions select {
  width: 150px;
  padding: 10px;
  background: white;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
}

.App .label {
  text-transform: uppercase;
  margin-right: 20px;
  color: var(--main-color)
}


.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: white;
  box-shadow: 6px 6px 20px rgba(0, 128, 0, 0.39);
  border-radius: 5px;
}

.item img{
 width: 100px;
 height: 100px;
 border-radius: 50%;
}

.item p {
  font-size: 17px;
  color: #777;
  letter-spacing: 2px;
  margin: 15px 0;
  text-transform: capitalize;
}

.item .btn{
  padding: 7px 0;
  width: 100px;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  
}

.item .btn:hover{
  transform: scale(1.1);
}

.item .btn:active{
  transform: scale(0.9);
}

.pages {
  display: flex;
  justify-content: center;
  gap: 7px;
  padding: 10px;
  margin-bottom: 40px;
}

.pages .page-btn{
  width: 25px;
  height: 25px;
  background: var(--main-color);
  color:white;
  border:none;
  cursor: pointer;
  transition: 0.3s;
}

.page-btn.active,
.page-btn:hover {
  opacity: 0.4;
}

.move-btn {
  background: transparent;
  color: rgba(17, 17, 48, 0.945);
  font-size: 17px;
  font-weight: 500;
  border:none;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}

.move-btn:hover{
  color: #777;
}



